@page "/vehiculos"
@model CL.UCN.DISC.PDIS.SCE.Web.Pages.VehiculosModel
@{
    ViewData["Title"] = "Vehiculos";
}

<head>
  <!--<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="card">
  <div class="card-header">      
    <div class="d-flex justify-content-between">
      <h4>Vehiculos</h4>
      <button type="button" class="btn btn-primary text-right">
          <i class="fa fa-plus" style="vertical-align: middle; margin-top: -0.125em"></i>
          Nuevo Vehiculo
      </button>
    </div>
  </div>
  
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Placa</th>
          <th>Rut</th>
          <th>Nombre Completo</th>
          <th>Ultimo Logo</th>
        </tr>
        
        <!-- Por cada vehiculo... -->
        @foreach (var vehiculo in Model.Vehiculos)
        {
        <tr>
          <!-- Mostrar el detalle del vehiculo. -->
          <td><a asp-page="DetalleVehiculo" asp-route-id="@vehiculo.placa">@(vehiculo.placa)</a></td>
          <td>@(vehiculo.persona.rut)</td>
          <td>@(vehiculo.persona.nombres) @(vehiculo.persona.apellidos)</td>
          <td>@(vehiculo.logos.OrderBy(l => l.anio).First().identificador)</td>
        </tr>
        }
      </table>
    </div>
  </div>
</div>

</body>
