@page
@model VehiculosModel

@{
    ViewData["Title"] = "Vehiculos";
}

<h1>@ViewData["Title"]</h1>

<p>TODO: Aqui se mostraran los vehiculos.</p>

<!--Definir el estilo para la tabla-->
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<!-- La tabla -->
<table>
    <tr>
        <th>Placa</th>
        <th>Rut</th>
        <th>Nombre Completo</th>
    </tr>

<!-- Un loop que itera la lista de vehiculos -->
@foreach (var vehiculo in Model.vehiculos)
{
    <tr>
        <td>@vehiculo.placa</td>
        <td>@vehiculo.persona.rut</td>
        <td>@vehiculo.persona.nombres @vehiculo.persona.apellidos</td>
    </tr>
}
</table>
