@page
@model SCEUCN_WEB.Pages.VehiculosModel
@{
    ViewData["Title"] = "Vehiculos";
}

<h1>@(ViewData["Title"])</h1>
<head>
  <link rel="stylesheet" href="~/css/table.css">
</head>


<table>
  <tr>
    <th>Placa</th>
    <th>Rut</th>
    <th>Nombre Completo</th>
  </tr>
  
  <!-- Un loop que itera la lista de vehiculos -->
  @foreach (var vehiculo in Model.Vehiculos)
  {
    <tr>
      <td>@(vehiculo.Placa)</td>
      <td>@(vehiculo.Persona.Rut)</td>
      <td>@(vehiculo.Persona.Nombres) @(vehiculo.Persona.Apellidos)</td>
      
    </tr>
  }

</table>